[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "STFTS"]
	path = STFTS
	url = https://github.com/cran/STFTS
[submodule "rDecode"]
	path = rDecode
	url = https://github.com/cran/rDecode
